/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

.container-fluid {
    background-image: url("../img/windows.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

